.cv { 
  width: 95%;
  max-width: 794px;
  aspect-ratio: 1 / 1.414;
  display: flex;
  margin: auto;
  position: relative;
  top: 1vh;
  border-radius: 1rem;
  overflow: hidden;
  gap: 25px;
}

.cv-left {
  height: 100%;
  width: 100%;
  color: var(--color1);
  background-color: var(--accent);
  flex: 1;
}

.cv-header, .cv-title, .cv-dec, .milestone-header {
  font-weight: 800;
}

.cv-header {
  font-size: 2.4rem;
  margin: 2rem;
}

.cv-section {
  margin: 2rem auto;
}

.cv-dec-container {
  background-color: #000;
}

.cv-dec {
  font-size: 1.8rem;
  padding: 1rem 0.5rem;
  margin: 1rem 1.5rem;
}

.cv-segment, .cv-skill-list {
  margin: 1rem 2rem;
}

.cv-title {
  font-size: 1.4rem;
  line-height: 2;
}

.cv-skill {
  line-height: 1.75;
  list-style: disc inside;
}

.cv-right {
  height: 100%;
  width: 100%;
  flex: 3;
}

.cv-dec.right {
  margin: 2rem 0;
  padding: 0;
}

.milestone {
  display: flex;
  width: 100%;
  margin: 2rem auto;
  line-height: 1.75;
  font-size: 1.5rem;
  list-style: none;
}

.milestone-date {
  flex: 2;
}

.milestone-info {
  flex: 5;
}

.milestone-header {
  font-size: 1.8rem;
}
