:root {
  --accent: #132544;
  --color1: #d9dde2;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#side-panel {
  flex: 1;
  max-width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--accent);
}

#main {
  flex: 1;
  height: 100vh;
}

.progression, .footer {
  margin: 20px;
}

.progression-item {
  margin: 5px auto;
  display: flex;
  gap: 15px;
}

.number-div {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--color1);
}

.number-div.active {
  background-color: var(--color1);
}

.number {
  color: var(--color1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number-line {
  height: 35px;
  width: 2px;
  background-color: var(--color1);
  margin: auto;
}

.item {
  color: var(--color1);
  margin: 7.5px 0;
}
