:root {
  --accent: #132544;
  --accent2: #dd9000b3;
  --accent-2-hover: #dd9000e6;
  --color1: #d9dde2;
  --speed: 500ms;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  font-size: 1.2rem;
}

#side-panel {
  font-size: 1.6rem;
  position: fixed;
  width: clamp(200px, 20vw, 300px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--accent);
}

#main {
  width: 100vw;
  padding-left: clamp(200px, 20vw, 300px);
}

.button {
  display: block;
  cursor: pointer;
  transition: calc(var(--speed) / 2);
}

.progression, .footer {
  margin: 20px;
}

.progression-item {
  margin: 5px auto;
  display: flex;
  gap: 15px;
}

.number-div {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--color1);
}

.number-div.active {
  background-color: var(--color1);
}

.number {
  color: var(--color1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number-line {
  height: 35px;
  width: 2px;
  background-color: var(--color1);
  margin: auto;
}

.item {
  color: var(--color1);
  margin: 7.5px 0;
}

.form {
  max-width: 750px;
  margin: auto;
  overflow: hidden;
}

.form-welcome {
  margin: 25px auto 50px;
}

.form-welcome-header {
  font-size: 3rem;
  font-weight: 700;
  margin: 25px auto;
  line-height: 1.25;
}

.form-welcome-extension {
  font-size: 1.4rem;
  line-height: 1.5;
}

.form-page {
  width: 95%;
  max-width: 700px;
  margin: auto;
  transition: var(--speed);
}

.segment {
  margin: auto auto 50px;
}

.form-section, .form-sub-section {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  max-width: 650px;
}

.field, .form-sub-section {
  flex: 1;
  max-width: 300px;
  margin: 15px auto;
}

.form-sub-section {
  margin: 0 auto;
}

.field-label {
  display: block;
  font-weight: 700;
  margin: 5px auto;
}

.field-input {
  width: 100%;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
}

.add-btn {
  color: var(--accent);
  font-weight: 600;
  height: 45px;
  width: 100%;
  max-width: 650px;
  margin: auto 0 20px;
  background-color: transparent;
  border: 2px solid var(--accent);
  border-radius: 5px;
} 

.add-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.form-nav-btn.prev {
  color: blue;
  display: flex;
  height: 20px;
  gap: 5px;
  align-items: center;
  background-color: transparent;
  border: none;
  margin: 50px 0 auto;
}

.form-nav-btn.next, .form-nav-btn.save {
  padding: 15px;
  margin: auto 10px auto auto;
  border: none;
  border-radius: 25px;
  background-color: var(--accent2);
}

.form-nav-btn.next:hover, .form-nav-btn.save:hover {
  background-color: var(--accent-2-hover);
}
